<!DOCTYPE html>

{% if game.last_taken() %}
    <h2>Выпавшая карта: {{ game.last_taken() }}</h2>
{% endif %}

<h2>Ваши карты: {{ game.hand|join (', ') }}</h2>
<h2>Количество очков по картам: {{ game.score() }}</h2>
<h2>Количество очков: {{ game.total() }}</h2>
<h2>Карты дилера: {{ game.dealers_hand|join (', ') }}</h2>
<h2>Количество очков дилера: {{ game.dealers_total() }}</h2>

{% with status = game.status() %}
    {% if status == 'lose' %}
        <h2>Вы проиграли.</h2>
    {% elif status == 'win' %}
        <h2>Вы победили!</h2>
    {% elif status == 'draw' %}
        <h2>Ничья.</h2>
    {% else %}
        <form action="" method="POST">
            <input type='submit' value='Взять карту'>
        </form>
        <br>
        <input type='button' value='Достаточно' onclick="window.location.href='{{ url_for('game') }}?enough'">
        <br>
    {% endif %}
{% endwith %}
<br>
<input type='button' value='Выход' onclick="window.location.href='{{ url_for('index') }}'">
<input type='button' value='Новая игра' onclick="window.location.href='{{ url_for('game') }}?new'">